html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
  margin: 0;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0;
  color: #555555;
  min-width: 320px;
}


#chat-message-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fcfcfc url(/imgs/bg.jpg) repeat;
  margin-bottom: 0;
  border-top: 1px solid #e0e0e0;
}

header,
main {
  padding-left: 0;
}

.brand-logo {
  margin-left: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

